          body {
            margin: 0;
            background: white;
            color: #333;
          }

          .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2rem;
            font-size: x-large;
          }

          .header-left {
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }

          .header-center {
            display: flex;
            text-align: center;
            gap: 1.5rem;
            color: #333;
          }
          .header-center a {
            text-decoration: none;
            font-weight: 500;
          }

          .header-right {
            display: flex;
            text-align: right;
            gap: 0.75rem;
          }

          section {
            padding: 12px 12px;
            max-width: 800px;
            margin: auto;
            
          }

          button {
            background-color: #5245B5;
            padding: 15px;
            color: white;
            box-shadow: 0 10px 25px #00000026;
            border: none;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .cta {
            display: center;
            margin-top: 20px;
            padding: 12px 12px;
            background: #5245b5;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            align-items: center;
            border: none;
            border-radius: 8px;
            box-shadow: 0 10px 25px #00000026;
          }

          h1 {
            text-align: center;
            padding-top: 5px;
          }

          .container {
            border: none;
            background-color: #F5F5F5;
            padding: 10px;
          }

          .centered-box {
            max-width: 900px; 
            max-height: 1000px;
            margin: 0 auto; 
            padding: 5px;
            text-align: center;
            border-radius: 8px;
            border-style: solid;
            border: 10px solid transparent; /* Set a transparent border to reserve space */
            border-image: linear-gradient(to bottom, #BCD8EC, #5245B5) 1;
            border-image-slice: 1; /* Specifies that the image should be sliced into a single piece */
            /* border-radius: 10px; will not work with border-image */
            box-shadow: 0 10px 25px #00000026;
          }

          .info-content svg {
              fill: #5245B5;
          }

         .footer {
          display: grid;
          grid-template-columns: 1fr auto 1fr;
          align-items: center;
          padding: 40px;
          background-color: #F5F5F5;
        }

        .footer-left {
          justify-self: start;
          max-width: 250px;
        }

        .footer-center {
          justify-self: center;
          font-size: 14px;
          padding-top: 150px;
          color: #333;
        }

        .footer-right {
          justify-self: end;
          display: flex;
          gap: 40px;
        }

        .footer a {
          text-decoration: none;
          color: #333;
          font-size: 14px;
        }

        p {
          text-align: center;
        }

        .center-img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          height: 350px;
        }

        h3 {
          text-align: center;
          padding-top: 5px;
          text-decoration: underline #8CD294 6.5px;
        }

        a {
          color: #333;
        }

        summary {
          text-decoration: underline;
        }

        .hero {
          position: relative;
          display: flex;
          align-items: center;
          padding: 4rem;
          background-color: #F5F5F5;
        }

        .content-card {
          position: initial;
          right: 400px;
          max-width: 650px;
          margin: 10px right; 
          border: 10px solid transparent; /* Set a transparent border to reserve space */
          border-image: linear-gradient(to bottom, #BCD8EC, #5245B5) 1;
          border-image-slice: 1; /* Specifies that the image should be sliced into a single piece */
          /* border-radius: 10px; will not work with border-image */
          padding: 5px;
          padding-bottom: 5px;
          text-align: center;
          border-radius: 8px;
          box-shadow: 0 10px 25px #00000026;
          background-color: #F5F5F5;
        }

        .image-card img {
          width: 520px;
          height: 520px;
          border-radius: 8px;
          display: initial;
          padding-left: 250px;
        }

        .ol {
          text-align: center;
        }

        .info-content {
          color: #5245B5;
          font-size: large;
        }

        .gradient-top {
          border-left: 0;
          border-right: 0;
          border-bottom: 0;
          border-top: 10px solid transparent; /* Set a transparent border to reserve space */
          border-image: linear-gradient(to left, #BCD8EC, #5245B5) 1;
        }
